/* style.css */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    font-size: 16px;
    color: #333;
}

.login-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 40px 50px;
    width: 100%; /* Responsive width */
    max-width: 400px; /* Max width */
    margin: auto;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center; /* Center the heading */
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
input[type="email"] { /* Added email type selector */
    border: 1px solid #ddd;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    box-sizing: border-box; /* Prevents padding from increasing the size of the inputs */
    width: calc(100% - 30px); /* Full width taking padding and border into account */
}

button {
    padding: 10px 15px;
    background-color: #5c6bc0; /* A nice shade of blue */
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; /* Add margin on top for spacing */
}

button:hover {
    background-color: #3949ab; /* A darker shade of blue for hover effect */
}

.terms { /* Styling for the terms and conditions */
    font-size: 14px; /* Smaller font size for terms */
    color: #666; /* Less prominent color */
    text-align: center; /* Center the text */
    margin-top: 20px; /* Space from the button */
}

.terms a {
    color: #5c6bc0; /* Same as button color */
    text-decoration: none; /* No underline */
    transition: color 0.3s;
}

.terms a:hover {
    color: #3949ab; /* Darker on hover */
}

@media (max-width: 768px) {
    .login-container {
        padding: 30px 20px;
    }

    h2 {
        font-size: 22px;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        padding: 10px;
    }

    button {
        padding: 10px;
    }
}
.sign-in-text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.sign-in-text a {
    color: #5c6bc0;
    text-decoration: none;
}

.sign-in-text a:hover {
    text-decoration: underline;
}
